<!-- ========================= -->
<!-- Footer -->
<!-- ========================= -->

<footer class="footer">
  <div class="container footer-container">
    <div class="footer-column">
      <h3>Our Services</h3>
      <ul>
        <li><a href="#">Interior Design</a></li>
        <li><a href="#">Lighting Design</a></li>
        <li><a href="#">Office Design</a></li>
        <li><a href="#">Outdoor Design</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Press Inquiries</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contact</h3>
      <ul>
        <li>info@linealuxe.com</li>
        <li>Design Avenue Cityville, CA 90210</li>
        <li>United States</li>
      </ul>
      <div class="footer-social">
        <a href="#">
          <img src="../assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img src="../assets/icons/twitter.svg" alt="Twitter" />
        </i></a>
        <a href="#">
          <img src="../assets/icons/instagram.svg" alt="Instagram" />
        </a>
      </div>
    </div>
  </div>
  <div class="copyright container">
    &copy; 2025 LineaLuxe. All rights reserved.
  </div>
</footer>
