<header class="header">
  <div class="container cont-header">
    <!-- Logo -->
    <a href="#" class="logo">Linea<span>Luxe</span></a>

    <!-- Mobile Button -->
    <input type="checkbox" id="click" />

    <label for="click" class="menu-btn">
      <i class="icon">☰</i>
    </label>

    <!-- Navbar -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/index.html">Home</a></li>

        <li><a href="/product.html">Services</a></li>

        <li><a href="/contact.html">Contact</a></li>

        <li><a href="#footer">Support</a></li>
      </ul>

      <!-- Guest -->
      <div id="guest-actions">
        <a href="/signUp.html" class="btn btn-primary"> Sign Up </a>
      </div>

      <!-- User -->
      <div id="user-actions" class="user-actions">
        <span id="username-display"></span>

        <div class="icon-btn">
          <a>
            <img src="/assets/icons/black_cart.svg" alt="Cart" />
          </a>

          <p>Cart</p>
        </div>

        <div class="icon-btn">
          <a>
            <img src="/assets/icons/vect_hart.svg" alt="Favorite" />
          </a>

          <p>Favorite</p>
        </div>

        <button
          id="logout-btn"
          class="logout-btn"
          aria-label="Open mobile menu"
        >
          Logout
        </button>
      </div>
    </nav>

    <!-- Overlay -->
    <!-- <label for="click" class="overlay"></label> -->
    <div class="overlay"></div>
  </div>
</header>
