.hero-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 12rem;
}

.hero__title {
  font-size: clamp(2rem, 3vw, 4rem);

  margin-bottom: 1.5rem;
}

.hero__description {
  max-width: 550px;
  color: var(--color-text-light);
}

.hero__image img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 992px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }
  .hero__description {
    margin-inline: auto;
  }

  .hero__image {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .hero {
    padding: 2rem 0;
  }
}
