/* ========================= */
/* Newsletter */
/* ========================= */

/* .newsletter {
  padding: 6rem 0;
} */

.newsletter-container {
  background: var(--color-white);

  /* padding: 5rem 3rem; */

  border-radius: var(--radius-lg);

  text-align: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.newsletter-title {
  /* font-size: clamp(2rem, 4vw, 3.5rem); */

  max-width: 600px;

  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.newsletter-description {
  max-width: 500px;

  margin-inline: auto;
  margin-bottom: 2rem;

  color: var(--color-text-light);
}

/* Form */

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  flex-wrap: wrap;
}

.newsletter-form input {
  width: 400px;
  max-width: 100%;

  padding: 1rem 1.5rem;

  border-radius: var(--radius-sm);

  border: 1px solid var(--color-border);
}
