/* ========================= */
/* Process Section */
/* ========================= */
.process-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;

  gap: 5rem;
}
.process__content {
  margin-top: 8rem;
}
/* ========================= */
/* Steps */
/* ========================= */
.process-steps {
  display: flex;
  flex-direction: column;

  gap: 3rem;

  position: relative;
}

.process-step {
  display: flex;
  align-items: flex-start;

  gap: 2rem;

  position: relative;

  z-index: 1;
}

/* Vertical Line */
.line::before {
  content: "";
  position: absolute;
  left: 32px;
  top: 75px;
  width: 2px;
  height: 70%;
  background-color: rgb(87, 85, 85);
}

/* Step Icon */
.step-icon {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-icon img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
/* Step Content */
.step-content h3 {
  font-size: 1.3rem;

  margin-bottom: 1rem;
}
.step-content p {
  color: var(--color-text-light);

  max-width: 450px;
}
/* ========================= */
/* Image */
/* ========================= */
.process__image img {
  width: 80%;
  height: 450px;
  object-fit: cover;
}
/* ========================= */
/* Responsive */
/* ========================= */
@media (max-width: 600px) {
  .process-container {
    grid-template-columns: 1fr;

    text-align: center;
    gap: 1rem;
  }
  .process__content {
    margin-top: 1rem;
  }
  .process-step {
    gap: 1rem;
  }
  .step-icon {
    min-width: 55px;
    height: 55px;
  }
  .line::before {
    left: 27px;
    top: 65px;
    width: 1px;
    height: 75%;
  }
  .process__title {
    margin-inline: auto;
  }
  .process-step {
    text-align: left;
  }
  .process__image {
    order: -1;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .process__image img {
    width: 400px;
    height: 200px;
  }
}
