@media (max-width: 1100px) {
  /* .products-grid {
    grid-template-columns: repeat(3, 1fr);
  } */

  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content {
    right: 40px;
  }
}

@media (max-width: 768px) {
  /* .navbar {
      display: none;
    } */

  .hero-image {
    height: 550px;
  }

  .hero-content {
    position: static;
    transform: none;

    max-width: 100%;
    border-radius: 0;
  }

  .categories-grid {
    grid-template-columns: 1fr;
  }
  /* 
  .newsletter-form {
    flex-direction: column;
  } */

  .product-image {
    height: 220px;
  }
}

@media (max-width: 576px) {
  .hero-content {
    padding: 30px;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .section {
    padding: 60px 0;
  }
}
